<section>
<h1>¿Qué es Ritho?</h1>
<p>Ritho es un proyecto en construcción que parte, por una parte, de
construir mi página personal (objetivo que llevo años intentando
llevar a cabo pero para el cual nunca he tenido tiempo), y por otra
parte ofrecer tanto los proyectos de Software Libre en los que
participo o he participado como proyectos que otras personas necesiten
alojar.</p>
<p>Como he comentado, este es un proyecto en construcción, con lo que
iré poco a poco incluyendo nueva funcionalidad y mejorando la que hay
implementada. Espero que os guste lo que encontréis aquí y que me
dejéis todos los comentarios que os apetezcan, por ahora enviándomelos
por correo electrónico a palvarez (en) ritho (punto) net.</p>
</section>
