<head>
<meta charset="<?php echo $charset;?>" />

<meta name="description" content="<?php echo $description; ?>" />	
<meta name="author" content="<?php echo $author; ?>" />
<meta name="Copyright" content="<?php echo $copy;?>" />
<meta name="DC.title" content="<?php echo $projName; ?>" />
<meta name="DC.subject" content="<?php echo $subject; ?>" />
<meta name="DC.creator" content="<?php echo $creator; ?>" />
<meta name="google-site-verification" content="<?php echo $gsVerification; ?>" />
<!-- Speaking of Google, don't forget to set your site up: http://google.com/webmasters -->
	
<link rel="shortcut icon" href="<?php echo $favicon; ?>" />
<link rel="apple-touch-icon" href="<?php echo $appleicon; ?>" />

<?php foreach ($css as $cssFile) { ?>
<link rel="stylesheet/less" type="text/css" href="<?php echo $configs['css_path']; ?>/<?php echo $cssFile['src']; ?>" media="all">
</link>
<?php } ?>

<title><?php echo $title; ?></title>
</head>
