<head>
<meta charset="<?php echo $charset;?>" />

<meta name="description" content="<?php echo $description; ?>" />	
<meta name="author" content="<?php echo $author; ?>" />
<meta name="Copyright" content="<?php echo $copy;?>" />
<meta name="DC.title" content="<?php echo $projName; ?>" />
<meta name="DC.subject" content="<?php echo $subject; ?>" />
<meta name="DC.creator" content="<?php echo $creator; ?>" />
<meta name="google-site-verification" content="<?php echo $gsVerification; ?>" />
<!-- Speaking of Google, don't forget to set your site up: http://google.com/webmasters -->
	
<link rel="shortcut icon" href="<?php echo $favicon; ?>" />
<link rel="apple-touch-icon" href="<?php echo $appleicon; ?>" />

<link rel="stylesheet/less" type="text/css" href="<?php echo $css; ?>"  media="all" />
<link rel="stylesheet/less" type="text/css" href="<?php echo $cssPrint; ?>" media="print" />

<!--[if IE]>
<link rel="stylesheet" href="<?php echo $cssIE; ?>" media="all" />
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" href="<?php echo $cssIE7; ?>" media="all" />
<![endif]-->
<!--[if lt IE 7]>
<link rel="stylesheet" href="<?php echo $cssIEOld; ?>" media="all" />
<![endif]-->

<script type="text/javascript" src="<?php echo $jquery; ?>"></script>
<title><?php echo $title; ?></title>

<!-- MODERNIZR: http://www.modernizr.com/
If you're using this, you don't need the HTML5 Shiv script below -->
<script src="<?php echo $modernizr; ?>"></script>

<!-- lesscss -->
<script src="<?php echo $lesscss; ?>" type="text/javascript"></script>
</head>
