language: php

php:
  - '7.0'

addons:
  apt:
    packages:
	  - nodejs
	  - npm
	  - apache2
      - libapache2-mod-php7.0
	  - php7.0
      - php7.0-pgsql

install: true

script:
  - npm install -g jshint
  - make rall
