/*.html
/*.svg
/classes
/css
/js
/img
/namespaces
/packages
/structure.xml
/phpdoc
/phpdoc-cache-17
/phpdoc-cache-24
/phpdoc-cache-2e
/phpdoc-cache-68
/phpdoc-cache-8e
/phpdoc-cache-97
/phpdoc-cache-a1
/phpdoc-cache-c8
/phpdoc-cache-c9
/phpdoc-cache-d2
/phpdoc-cache-db
/phpdoc-cache-de
/phpdoc-cache-e8
/phpdoc-cache-ef
